#%RAML 0.8
title: APIMATIC
version: '1.0'
documentation:
- title: APIMATIC
  content: Simple calculator API hosted on APIMATIC
baseUri: http://examples.apimatic.io/apps/calculator
securedBy: []
protocols:
- HTTP
- HTTPS
baseUriParameters: {}
schemas:
- CouldNotCompute: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CouldNotCompute",
      "title": "CouldNotCompute",
      "description": "Is thrown when invalid input is given such as div by zero",
      "type": "object",
      "properties": {
        "ServerMessage": {
          "description": "Represents the server's exception message",
          "type": "string"
        },
        "ServerCode": {
          "description": "Represents the server's error code",
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "ServerMessage",
        "ServerCode"
      ]
    }
- OperationType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "OperationType",
      "description": "Possible operators are sum, subtract, multiply, divide",
      "type": "string",
      "additionalProperties": false,
      "enum": [
        "SUM",
        "SUBTRACT",
        "MULTIPLY",
        "DIVIDE"
      ]
    }
- Order: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Order",
      "title": "Order",
      "type": "object",
      "properties": {
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "petId": {
          "example": 198772,
          "type": "integer",
          "format": "int64"
        },
        "quantity": {
          "example": 7,
          "type": "integer",
          "format": "int32"
        },
        "shipDate": {
          "example": "2023-05-31T00:00:00Z",
          "type": "string",
          "format": "date-time"
        },
        "orderStatus": {
          "title": "OrderStatus",
          "description": "Order Status",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "placed",
            "approved",
            "delivered"
          ]
        },
        "complete": {
          "example": true,
          "type": "boolean"
        }
      }
    }
- Customer: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Customer",
      "title": "Customer",
      "type": "object",
      "properties": {
        "id": {
          "example": 100000,
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "example": "fehguy",
          "type": "string"
        },
        "address": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Address",
            "title": "Address",
            "type": "object",
            "properties": {
              "street": {
                "example": "437 Lytton",
                "type": "string"
              },
              "city": {
                "example": "Palo Alto",
                "type": "string"
              },
              "state": {
                "example": "CA",
                "type": "string"
              },
              "zip": {
                "example": "94301",
                "type": "string"
              }
            }
          }
        }
      }
    }
- Address: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Address",
      "title": "Address",
      "type": "object",
      "properties": {
        "street": {
          "example": "437 Lytton",
          "type": "string"
        },
        "city": {
          "example": "Palo Alto",
          "type": "string"
        },
        "state": {
          "example": "CA",
          "type": "string"
        },
        "zip": {
          "example": "94301",
          "type": "string"
        }
      }
    }
- Category: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Category",
      "title": "Category",
      "type": "object",
      "properties": {
        "id": {
          "example": 1,
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "example": "Dogs",
          "type": "string"
        }
      }
    }
- User: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "User",
      "title": "User",
      "type": "object",
      "properties": {
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "example": "theUser",
          "type": "string"
        },
        "firstName": {
          "example": "John",
          "type": "string"
        },
        "lastName": {
          "example": "James",
          "type": "string"
        },
        "email": {
          "example": "john@email.com",
          "type": "string"
        },
        "password": {
          "example": "12345",
          "type": "string"
        },
        "phone": {
          "example": "12345",
          "type": "string"
        },
        "userStatus": {
          "description": "User Status",
          "example": 1,
          "type": "integer",
          "format": "int32"
        }
      }
    }
- Tag: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Tag",
      "title": "Tag",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      }
    }
- Pet: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Pet",
      "title": "Pet",
      "type": "object",
      "properties": {
        "name": {
          "example": "doggie",
          "type": "string"
        },
        "photoUrls": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "id": "Category",
          "title": "Category",
          "type": "object",
          "properties": {
            "id": {
              "example": 1,
              "type": "integer",
              "format": "int64"
            },
            "name": {
              "example": "Dogs",
              "type": "string"
            }
          }
        },
        "tags": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Tag",
            "title": "Tag",
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "petStatus": {
          "title": "PetStatus",
          "description": "pet status in the store",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "required": [
        "name",
        "photoUrls"
      ]
    }
- PetImage: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PetImage",
      "title": "PetImage",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
- PetByCategory: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PetByCategory",
      "title": "PetByCategory",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "photoUrls": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "id": "Category",
          "title": "Category",
          "type": "object",
          "properties": {
            "id": {
              "example": 1,
              "type": "integer",
              "format": "int64"
            },
            "name": {
              "example": "Dogs",
              "type": "string"
            }
          }
        },
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "petStatus": {
          "title": "PetStatus",
          "description": "pet status in the store",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "required": [
        "name",
        "photoUrls",
        "category"
      ]
    }
- PetByTag: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PetByTag",
      "title": "PetByTag",
      "type": "object",
      "properties": {
        "name": {
          "example": "Fluffy",
          "type": "string"
        },
        "photoUrls": {
          "description": "",
          "example": [
            "https://example.com/photo1.jpg",
            "https://example.com/photo2.jpg"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "",
          "example": [
            {
              "id": 1,
              "name": "tag1"
            },
            {
              "id": 2,
              "name": "tag2"
            }
          ],
          "type": "array",
          "items": {
            "id": "Tag",
            "title": "Tag",
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "petStatus": {
          "title": "PetStatus",
          "description": "pet status in the store",
          "example": "available",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "required": [
        "name",
        "photoUrls",
        "tags"
      ]
    }
- OrderStatus: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "OrderStatus",
      "description": "Order Status",
      "type": "string",
      "additionalProperties": false,
      "enum": [
        "placed",
        "approved",
        "delivered"
      ]
    }
- PetRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PetRequest",
      "title": "PetRequest",
      "type": "object",
      "properties": {
        "name": {
          "example": "Fluffy",
          "type": "string"
        },
        "photoUrls": {
          "description": "",
          "example": [
            "https://example.com/photo1.jpg",
            "https://example.com/photo2.jpg"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "example": 10,
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "id": "Category",
          "title": "Category",
          "type": "object",
          "properties": {
            "id": {
              "example": 1,
              "type": "integer",
              "format": "int64"
            },
            "name": {
              "example": "Dogs",
              "type": "string"
            }
          }
        },
        "petStatus": {
          "title": "PetStatus",
          "description": "pet status in the store",
          "example": "available",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        },
        "tags": {
          "description": "",
          "example": [
            {
              "id": 1,
              "name": "tag1"
            },
            {
              "id": 2,
              "name": "tag2"
            }
          ],
          "type": "array",
          "items": {
            "id": "Tag",
            "title": "Tag",
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    }
- PetStatus: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "PetStatus",
      "description": "pet status in the store",
      "example": "available",
      "type": "string",
      "additionalProperties": false,
      "enum": [
        "available",
        "pending",
        "sold"
      ]
    }
- status: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "status",
      "type": "string",
      "additionalProperties": false,
      "enum": [
        "available",
        "pending",
        "sold"
      ]
    }
securitySchemes:
- api_key:
    type: x-custom
    describedBy:
      headers:
        api_key:
          type: string
          required: true
          displayName: api_key
/{operation}:
  uriParameters:
    operation:
      description: The operator to apply on the variables
      required: true
      displayName: operation
      enum:
      - SUM
      - SUBTRACT
      - MULTIPLY
      - DIVIDE
  get:
    securedBy: []
    description: Calculates the expression using the specified operation.
    queryParameters:
      x:
        description: The LHS value
        type: number
        required: true
        displayName: x
      y:
        description: The RHS value
        type: number
        required: true
        displayName: y
    responses:
      '200':
        body:
          text/plain:
            schema: |
              {
                "type": "number"
              }
      '412':
        description: Could not compute the requested calculation
        body:
          application/json:
            schema: |
              {
                "id": "CouldNotCompute",
                "title": "CouldNotCompute",
                "description": "Is thrown when invalid input is given such as div by zero",
                "type": "object",
                "properties": {
                  "ServerMessage": {
                    "description": "Represents the server's exception message",
                    "type": "string"
                  },
                  "ServerCode": {
                    "description": "Represents the server's error code",
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "required": [
                  "ServerMessage",
                  "ServerCode"
                ]
              }
/pet:
  /findByStatus:
    get:
      description: Multiple status values can be provided with comma separated strings
      queryParameters:
        status:
          description: Status values that need to be considered for filter
          example: available
          default: available
          required: false
          displayName: status
          enum:
          - available
          - pending
          - sold
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "description": "",
                  "example": [
                    {
                      "id": 10,
                      "name": "doggie",
                      "photoUrls": [
                        "photoUrls5",
                        "photoUrls6"
                      ],
                      "category": {
                        "id": 232,
                        "name": "name2"
                      },
                      "tags": [
                        {
                          "id": 26,
                          "name": "name0"
                        }
                      ],
                      "petStatus": "sold"
                    },
                    {
                      "id": 11,
                      "name": "kitty",
                      "photoUrls": [
                        "photoUrls7",
                        "photoUrls8"
                      ],
                      "category": {
                        "id": 233,
                        "name": "name3"
                      },
                      "tags": [
                        {
                          "id": 27,
                          "name": "name1"
                        }
                      ],
                      "petStatus": "available"
                    }
                  ],
                  "type": "array",
                  "items": {
                    "id": "Pet",
                    "title": "Pet",
                    "type": "object",
                    "properties": {
                      "name": {
                        "example": "doggie",
                        "type": "string"
                      },
                      "photoUrls": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "example": 10,
                        "type": "integer",
                        "format": "int64"
                      },
                      "category": {
                        "id": "Category",
                        "title": "Category",
                        "type": "object",
                        "properties": {
                          "id": {
                            "example": 1,
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "example": "Dogs",
                            "type": "string"
                          }
                        }
                      },
                      "tags": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "id": "Tag",
                          "title": "Tag",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "petStatus": {
                        "title": "PetStatus",
                        "description": "pet status in the store",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "available",
                          "pending",
                          "sold"
                        ]
                      }
                    },
                    "required": [
                      "name",
                      "photoUrls"
                    ]
                  }
                }
              example: '[{"id":10,"name":"doggie","photoUrls":["photoUrls5","photoUrls6"],"category":{"id":232,"name":"name2"},"tags":[{"id":26,"name":"name0"}],"petStatus":"sold"},{"id":11,"name":"kitty","photoUrls":["photoUrls7","photoUrls8"],"category":{"id":233,"name":"name3"},"tags":[{"id":27,"name":"name1"}],"petStatus":"available"}]'
        '400':
          description: Invalid status value
  /findByTags:
    get:
      description: Multiple tags can be provided with comma separated strings. Use tag1, tag2, tag3 for testing.
      queryParameters:
        tags:
          description: Tags to filter by
          type: string
          required: false
          displayName: tags
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "description": "",
                  "example": [
                    {
                      "id": 10,
                      "name": "doggie",
                      "photoUrls": [
                        "photoUrls5",
                        "photoUrls6"
                      ],
                      "category": {
                        "id": 232,
                        "name": "name2"
                      },
                      "tags": [
                        {
                          "id": 26,
                          "name": "name0"
                        }
                      ],
                      "petStatus": "sold"
                    },
                    {
                      "id": 11,
                      "name": "kitty",
                      "photoUrls": [
                        "photoUrls7",
                        "photoUrls8"
                      ],
                      "category": {
                        "id": 233,
                        "name": "name3"
                      },
                      "tags": [
                        {
                          "id": 27,
                          "name": "name1"
                        }
                      ],
                      "petStatus": "available"
                    }
                  ],
                  "type": "array",
                  "items": {
                    "id": "Pet",
                    "title": "Pet",
                    "type": "object",
                    "properties": {
                      "name": {
                        "example": "doggie",
                        "type": "string"
                      },
                      "photoUrls": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "id": {
                        "example": 10,
                        "type": "integer",
                        "format": "int64"
                      },
                      "category": {
                        "id": "Category",
                        "title": "Category",
                        "type": "object",
                        "properties": {
                          "id": {
                            "example": 1,
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "example": "Dogs",
                            "type": "string"
                          }
                        }
                      },
                      "tags": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "id": "Tag",
                          "title": "Tag",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "petStatus": {
                        "title": "PetStatus",
                        "description": "pet status in the store",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "available",
                          "pending",
                          "sold"
                        ]
                      }
                    },
                    "required": [
                      "name",
                      "photoUrls"
                    ]
                  }
                }
              example: '[{"id":10,"name":"doggie","photoUrls":["photoUrls5","photoUrls6"],"category":{"id":232,"name":"name2"},"tags":[{"id":26,"name":"name0"}],"petStatus":"sold"},{"id":11,"name":"kitty","photoUrls":["photoUrls7","photoUrls8"],"category":{"id":233,"name":"name3"},"tags":[{"id":27,"name":"name1"}],"petStatus":"available"}]'
        '400':
          description: Invalid tag value
  /{petId}:
    uriParameters:
      petId:
        description: ID of pet to return
        type: integer
        required: true
        displayName: petId
    /uploadImage:
      uriParameters: {}
      post:
        headers:
          Content-Type:
            required: true
            displayName: Content-Type
            enum:
            - application/octet-stream
        queryParameters:
          additionalMetadata:
            description: Additional Metadata
            type: string
            required: false
            displayName: additionalMetadata
        body:
          application/octet-stream:
            formParameters:
              body:
                type: file
                required: false
                displayName: body
        responses:
          '200':
            description: successful operation
            body:
              application/json:
                schema: |
                  {
                    "id": "PetImage",
                    "title": "PetImage",
                    "example": {
                      "code": 200,
                      "type": "unknown",
                      "message": "additionalMetadata"
                    },
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "type": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                example: '{"code":200,"type":"unknown","message":"additionalMetadata"}'
    get:
      securedBy:
      - api_key
      description: Returns a single pet
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "id": "Pet",
                  "title": "Pet",
                  "example": {
                    "name": "Rex",
                    "photoUrls": [
                      "https://example.com/photo1.jpg",
                      "https://example.com/photo2.jpg"
                    ],
                    "id": 123,
                    "category": {
                      "id": 1,
                      "name": "Dogs"
                    },
                    "tags": [
                      {
                        "id": 1,
                        "name": "friendly"
                      },
                      {
                        "id": 2,
                        "name": "playful"
                      }
                    ],
                    "petStatus": "available"
                  },
                  "type": "object",
                  "properties": {
                    "name": {
                      "example": "doggie",
                      "type": "string"
                    },
                    "photoUrls": {
                      "description": "",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "example": 10,
                      "type": "integer",
                      "format": "int64"
                    },
                    "category": {
                      "id": "Category",
                      "title": "Category",
                      "type": "object",
                      "properties": {
                        "id": {
                          "example": 1,
                          "type": "integer",
                          "format": "int64"
                        },
                        "name": {
                          "example": "Dogs",
                          "type": "string"
                        }
                      }
                    },
                    "tags": {
                      "description": "",
                      "type": "array",
                      "items": {
                        "id": "Tag",
                        "title": "Tag",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "petStatus": {
                      "title": "PetStatus",
                      "description": "pet status in the store",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "available",
                        "pending",
                        "sold"
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "photoUrls"
                  ]
                }
              example: '{"name":"Rex","photoUrls":["https://example.com/photo1.jpg","https://example.com/photo2.jpg"],"id":123,"category":{"id":1,"name":"Dogs"},"tags":[{"id":1,"name":"friendly"},{"id":2,"name":"playful"}],"petStatus":"available"}'
        '400':
          description: Invalid ID supplied
        '404':
          description: Pet not found
    post:
      queryParameters:
        name:
          description: Name of pet that needs to be updated
          type: string
          required: false
          displayName: name
        status:
          description: Status of pet that needs to be updated
          type: string
          required: false
          displayName: status
      responses:
        '405':
          description: Invalid input
    delete:
      description: delete a pet
      headers:
        api_key:
          type: string
          required: false
          displayName: api_key
      responses:
        '400':
          description: Invalid pet value
  put:
    description: Update an existing pet by Id
    headers:
      Content-Type:
        example: application/json
        required: true
        displayName: Content-Type
        enum:
        - application/json
    body:
      application/json:
        schema: |
          {
            "id": "Pet",
            "title": "Pet",
            "description": "Update an existent pet in the store",
            "examples": [
              {
                "Id": "update-status",
                "Name": null,
                "Value": "{\"name\":\"doggie\",\"photoUrls\":[\"myphoto\"],\"id\":10,\"petStatus\":\"sold\"}",
                "ExternalValue": null,
                "Description": null
              },
              {
                "Id": "update-tags",
                "Name": null,
                "Value": "{\"name\":\"cat\",\"photoUrls\":[\"myphoto1\"],\"id\":10,\"tags\":[{\"id\":1,\"name\":\"friendly\"},{\"id\":2,\"name\":\"playful\"}]}",
                "ExternalValue": null,
                "Description": null
              },
              {
                "Id": "update-category",
                "Name": null,
                "Value": "{\"name\":\"cat\",\"photoUrls\":[\"myphoto1\"],\"id\":10,\"category\":{\"id\":1,\"name\":\"Persian Cat\"}}",
                "ExternalValue": null,
                "Description": null
              }
            ],
            "example": {
              "name": "doggie",
              "photoUrls": [
                "myphoto"
              ],
              "id": 10,
              "petStatus": "sold"
            },
            "type": "object",
            "properties": {
              "name": {
                "example": "doggie",
                "type": "string"
              },
              "photoUrls": {
                "description": "",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "id": {
                "example": 10,
                "type": "integer",
                "format": "int64"
              },
              "category": {
                "id": "Category",
                "title": "Category",
                "type": "object",
                "properties": {
                  "id": {
                    "example": 1,
                    "type": "integer",
                    "format": "int64"
                  },
                  "name": {
                    "example": "Dogs",
                    "type": "string"
                  }
                }
              },
              "tags": {
                "description": "",
                "type": "array",
                "items": {
                  "id": "Tag",
                  "title": "Tag",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              },
              "petStatus": {
                "title": "PetStatus",
                "description": "pet status in the store",
                "type": "string",
                "additionalProperties": false,
                "enum": [
                  "available",
                  "pending",
                  "sold"
                ]
              }
            },
            "required": [
              "name",
              "photoUrls"
            ]
          }
        example: '{"name":"doggie","photoUrls":["myphoto"],"id":10,"petStatus":"sold"}'
    responses:
      '200':
        description: Successful operation
        body:
          application/json:
            schema: |
              {
                "id": "Pet",
                "title": "Pet",
                "example": {
                  "name": "Rex",
                  "photoUrls": [
                    "https://example.com/photo1.jpg",
                    "https://example.com/photo2.jpg"
                  ],
                  "id": 123,
                  "category": {
                    "id": 1,
                    "name": "Cats"
                  },
                  "tags": [
                    {
                      "id": 1,
                      "name": "friendly"
                    },
                    {
                      "id": 2,
                      "name": "playful"
                    }
                  ],
                  "petStatus": "available"
                },
                "type": "object",
                "properties": {
                  "name": {
                    "example": "doggie",
                    "type": "string"
                  },
                  "photoUrls": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "category": {
                    "id": "Category",
                    "title": "Category",
                    "type": "object",
                    "properties": {
                      "id": {
                        "example": 1,
                        "type": "integer",
                        "format": "int64"
                      },
                      "name": {
                        "example": "Dogs",
                        "type": "string"
                      }
                    }
                  },
                  "tags": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "id": "Tag",
                      "title": "Tag",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "petStatus": {
                    "title": "PetStatus",
                    "description": "pet status in the store",
                    "type": "string",
                    "additionalProperties": false,
                    "enum": [
                      "available",
                      "pending",
                      "sold"
                    ]
                  }
                },
                "required": [
                  "name",
                  "photoUrls"
                ]
              }
            example: '{"name":"Rex","photoUrls":["https://example.com/photo1.jpg","https://example.com/photo2.jpg"],"id":123,"category":{"id":1,"name":"Cats"},"tags":[{"id":1,"name":"friendly"},{"id":2,"name":"playful"}],"petStatus":"available"}'
      '400':
        description: Invalid ID supplied
      '404':
        description: Pet not found
      '405':
        description: Validation exception
  post:
    description: Add a new pet to the store
    headers:
      Content-Type:
        required: true
        displayName: Content-Type
        enum:
        - application/json
    body:
      application/json:
        schema: |
          {
            "description": "Create a new pet in the store",
            "anyOf": [
              {
                "id": "PetByCategory",
                "title": "PetByCategory",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "photoUrls": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category": {
                    "id": "Category",
                    "title": "Category",
                    "type": "object",
                    "properties": {
                      "id": {
                        "example": 1,
                        "type": "integer",
                        "format": "int64"
                      },
                      "name": {
                        "example": "Dogs",
                        "type": "string"
                      }
                    }
                  },
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "petStatus": {
                    "title": "PetStatus",
                    "description": "pet status in the store",
                    "type": "string",
                    "additionalProperties": false,
                    "enum": [
                      "available",
                      "pending",
                      "sold"
                    ]
                  }
                },
                "required": [
                  "name",
                  "photoUrls",
                  "category"
                ]
              },
              {
                "id": "PetByTag",
                "title": "PetByTag",
                "type": "object",
                "properties": {
                  "name": {
                    "example": "Fluffy",
                    "type": "string"
                  },
                  "photoUrls": {
                    "description": "",
                    "example": [
                      "https://example.com/photo1.jpg",
                      "https://example.com/photo2.jpg"
                    ],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "description": "",
                    "example": [
                      {
                        "id": 1,
                        "name": "tag1"
                      },
                      {
                        "id": 2,
                        "name": "tag2"
                      }
                    ],
                    "type": "array",
                    "items": {
                      "id": "Tag",
                      "title": "Tag",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "petStatus": {
                    "title": "PetStatus",
                    "description": "pet status in the store",
                    "example": "available",
                    "type": "string",
                    "additionalProperties": false,
                    "enum": [
                      "available",
                      "pending",
                      "sold"
                    ]
                  }
                },
                "required": [
                  "name",
                  "photoUrls",
                  "tags"
                ]
              }
            ]
          }
        example: ''
    responses:
      '200':
        description: Successful operation
        body:
          application/json:
            schema: |
              {
                "id": "Pet",
                "title": "Pet",
                "example": {
                  "name": "Rex",
                  "photoUrls": [
                    "https://example.com/photo1.jpg",
                    "https://example.com/photo2.jpg"
                  ],
                  "id": 123,
                  "category": {
                    "id": 1,
                    "name": "Dogs"
                  },
                  "tags": [
                    {
                      "id": 1,
                      "name": "friendly"
                    },
                    {
                      "id": 2,
                      "name": "playful"
                    }
                  ],
                  "petStatus": "available"
                },
                "type": "object",
                "properties": {
                  "name": {
                    "example": "doggie",
                    "type": "string"
                  },
                  "photoUrls": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "category": {
                    "id": "Category",
                    "title": "Category",
                    "type": "object",
                    "properties": {
                      "id": {
                        "example": 1,
                        "type": "integer",
                        "format": "int64"
                      },
                      "name": {
                        "example": "Dogs",
                        "type": "string"
                      }
                    }
                  },
                  "tags": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "id": "Tag",
                      "title": "Tag",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "petStatus": {
                    "title": "PetStatus",
                    "description": "pet status in the store",
                    "type": "string",
                    "additionalProperties": false,
                    "enum": [
                      "available",
                      "pending",
                      "sold"
                    ]
                  }
                },
                "required": [
                  "name",
                  "photoUrls"
                ]
              }
            example: '{"name":"Rex","photoUrls":["https://example.com/photo1.jpg","https://example.com/photo2.jpg"],"id":123,"category":{"id":1,"name":"Dogs"},"tags":[{"id":1,"name":"friendly"},{"id":2,"name":"playful"}],"petStatus":"available"}'
      '405':
        description: Invalid input
/user:
  /createWithList:
    post:
      description: Creates list of users with given input array
      headers:
        Content-Type:
          example: application/json
          required: true
          displayName: Content-Type
          enum:
          - application/json
      body:
        application/json:
          schema: |
            {
              "description": "",
              "type": "array",
              "items": {
                "id": "User",
                "title": "User",
                "type": "object",
                "properties": {
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "username": {
                    "example": "theUser",
                    "type": "string"
                  },
                  "firstName": {
                    "example": "John",
                    "type": "string"
                  },
                  "lastName": {
                    "example": "James",
                    "type": "string"
                  },
                  "email": {
                    "example": "john@email.com",
                    "type": "string"
                  },
                  "password": {
                    "example": "12345",
                    "type": "string"
                  },
                  "phone": {
                    "example": "12345",
                    "type": "string"
                  },
                  "userStatus": {
                    "description": "User Status",
                    "example": 1,
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          example: ''
      responses:
        '200':
          description: Successful operation
          body:
            application/json:
              schema: |
                {
                  "id": "User",
                  "title": "User",
                  "example": {
                    "id": 10,
                    "username": "theUser",
                    "firstName": "John",
                    "lastName": "James",
                    "email": "john@email.com",
                    "password": "12345",
                    "phone": "12345",
                    "userStatus": 1
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "example": 10,
                      "type": "integer",
                      "format": "int64"
                    },
                    "username": {
                      "example": "theUser",
                      "type": "string"
                    },
                    "firstName": {
                      "example": "John",
                      "type": "string"
                    },
                    "lastName": {
                      "example": "James",
                      "type": "string"
                    },
                    "email": {
                      "example": "john@email.com",
                      "type": "string"
                    },
                    "password": {
                      "example": "12345",
                      "type": "string"
                    },
                    "phone": {
                      "example": "12345",
                      "type": "string"
                    },
                    "userStatus": {
                      "description": "User Status",
                      "example": 1,
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              example: '{"id":10,"username":"theUser","firstName":"John","lastName":"James","email":"john@email.com","password":"12345","phone":"12345","userStatus":1}'
        '0':
          description: successful operation
  /login:
    get:
      queryParameters:
        username:
          description: The user name for login
          type: string
          required: false
          displayName: username
        password:
          description: The password for login in clear text
          type: string
          required: false
          displayName: password
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              required: false
            X-Expires-After:
              required: false
          body:
            application/json:
              schema: |
                {
                  "example": "logged in user session: 1234567890",
                  "type": "string"
                }
              example: 'logged in user session: 1234567890'
        '400':
          description: Invalid username/password supplied
  /logout:
    get:
      responses:
        '200':
          description: successful operation
  /{name}:
    uriParameters:
      name:
        description: The name that needs to be fetched. Use user1 for testing.
        type: string
        required: true
        displayName: name
    get:
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "id": "User",
                  "title": "User",
                  "example": {
                    "id": 10,
                    "username": "theUser",
                    "firstName": "John",
                    "lastName": "James",
                    "email": "john@email.com",
                    "password": "12345",
                    "phone": "12345",
                    "userStatus": 1
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "example": 10,
                      "type": "integer",
                      "format": "int64"
                    },
                    "username": {
                      "example": "theUser",
                      "type": "string"
                    },
                    "firstName": {
                      "example": "John",
                      "type": "string"
                    },
                    "lastName": {
                      "example": "James",
                      "type": "string"
                    },
                    "email": {
                      "example": "john@email.com",
                      "type": "string"
                    },
                    "password": {
                      "example": "12345",
                      "type": "string"
                    },
                    "phone": {
                      "example": "12345",
                      "type": "string"
                    },
                    "userStatus": {
                      "description": "User Status",
                      "example": 1,
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              example: '{"id":10,"username":"theUser","firstName":"John","lastName":"James","email":"john@email.com","password":"12345","phone":"12345","userStatus":1}'
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
    put:
      description: This can only be done by the logged in user.
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          enum:
          - application/x-www-form-urlencoded
      body:
        application/x-www-form-urlencoded:
          formParameters:
            id:
              type: integer
              example: '10'
              required: false
              displayName: id
            username:
              type: string
              example: theUser
              required: false
              displayName: username
            firstName:
              type: string
              example: John
              required: false
              displayName: firstName
            lastName:
              type: string
              example: James
              required: false
              displayName: lastName
            email:
              type: string
              example: john@email.com
              required: false
              displayName: email
            password:
              type: string
              example: '12345'
              required: false
              displayName: password
            phone:
              type: string
              example: '12345'
              required: false
              displayName: phone
            userStatus:
              description: User Status
              type: integer
              example: '1'
              required: false
              displayName: userStatus
      responses:
        '200':
          description: successful operation
    delete:
      description: This can only be done by the logged in user.
      responses:
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
  post:
    description: This can only be done by the logged in user.
    headers:
      Content-Type:
        required: true
        displayName: Content-Type
        enum:
        - application/x-www-form-urlencoded
    body:
      application/x-www-form-urlencoded:
        formParameters:
          id:
            type: integer
            example: '10'
            required: false
            displayName: id
          username:
            type: string
            example: theUser
            required: false
            displayName: username
          firstName:
            type: string
            example: John
            required: false
            displayName: firstName
          lastName:
            type: string
            example: James
            required: false
            displayName: lastName
          email:
            type: string
            example: john@email.com
            required: false
            displayName: email
          password:
            type: string
            example: '12345'
            required: false
            displayName: password
          phone:
            type: string
            example: '12345'
            required: false
            displayName: phone
          userStatus:
            description: User Status
            type: integer
            example: '1'
            required: false
            displayName: userStatus
    responses:
      '200':
        description: successful operation
        body:
          application/json:
            schema: |
              {
                "id": "User",
                "title": "User",
                "example": {
                  "id": 10,
                  "username": "theUser",
                  "firstName": "John",
                  "lastName": "James",
                  "email": "john@email.com",
                  "password": "12345",
                  "phone": "12345",
                  "userStatus": 1
                },
                "type": "object",
                "properties": {
                  "id": {
                    "example": 10,
                    "type": "integer",
                    "format": "int64"
                  },
                  "username": {
                    "example": "theUser",
                    "type": "string"
                  },
                  "firstName": {
                    "example": "John",
                    "type": "string"
                  },
                  "lastName": {
                    "example": "James",
                    "type": "string"
                  },
                  "email": {
                    "example": "john@email.com",
                    "type": "string"
                  },
                  "password": {
                    "example": "12345",
                    "type": "string"
                  },
                  "phone": {
                    "example": "12345",
                    "type": "string"
                  },
                  "userStatus": {
                    "description": "User Status",
                    "example": 1,
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            example: '{"id":10,"username":"theUser","firstName":"John","lastName":"James","email":"john@email.com","password":"12345","phone":"12345","userStatus":1}'
/store:
  /inventory:
    get:
      securedBy:
      - api_key
      description: Returns a map of status codes to quantities
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "example": {
                    "ordered": -1701012768,
                    "approved": -1539485046,
                    "placed": -2147313865,
                    "test": -262249829,
                    "pending": -1403561788,
                    "available": 1386631487,
                    "invalid": 2,
                    "deliver": -1019515409,
                    "delivered": 355966565
                  },
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              example: '{"ordered":-1701012768,"approved":-1539485046,"placed":-2147313865,"test":-262249829,"pending":-1403561788,"available":1386631487,"invalid":2,"deliver":-1019515409,"delivered":355966565}'
  /order:
    /{orderId}:
      uriParameters:
        orderId:
          description: ID of order that needs to be fetched
          type: integer
          required: true
          displayName: orderId
      get:
        description: For valid response try integer IDs with value <= 5 or > 10. Other values will generate exceptions.
        responses:
          '200':
            description: successful operation
            body:
              application/json:
                schema: |
                  {
                    "id": "Order",
                    "title": "Order",
                    "example": {
                      "id": 10,
                      "petId": 198772,
                      "quantity": 7,
                      "shipDate": "2023-05-31T00:00:00Z",
                      "orderStatus": "approved",
                      "complete": true
                    },
                    "type": "object",
                    "properties": {
                      "id": {
                        "example": 10,
                        "type": "integer",
                        "format": "int64"
                      },
                      "petId": {
                        "example": 198772,
                        "type": "integer",
                        "format": "int64"
                      },
                      "quantity": {
                        "example": 7,
                        "type": "integer",
                        "format": "int32"
                      },
                      "shipDate": {
                        "example": "2023-05-31T00:00:00Z",
                        "type": "string",
                        "format": "date-time"
                      },
                      "orderStatus": {
                        "title": "OrderStatus",
                        "description": "Order Status",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "placed",
                          "approved",
                          "delivered"
                        ]
                      },
                      "complete": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  }
                example: '{"id":10,"petId":198772,"quantity":7,"shipDate":"2023-05-31T00:00:00Z","orderStatus":"approved","complete":true}'
          '400':
            description: Invalid ID supplied
          '404':
            description: Order not found
      delete:
        description: For valid response try integer IDs with value < 1000. Anything above 1000 or nonintegers will generate API errors
        responses:
          '400':
            description: Invalid ID supplied
          '404':
            description: Order not found
    post:
      description: Place a new order in the store
      headers:
        Content-Type:
          example: application/x-www-form-urlencoded
          required: true
          displayName: Content-Type
          enum:
          - application/x-www-form-urlencoded
      body:
        application/x-www-form-urlencoded:
          formParameters:
            id:
              type: integer
              example: '10'
              required: false
              displayName: id
            petId:
              type: integer
              example: '198772'
              required: false
              displayName: petId
            quantity:
              type: integer
              example: '7'
              required: false
              displayName: quantity
            shipDate:
              type: date
              example: 2023-05-31T00:00:00Z
              required: false
              displayName: shipDate
            orderStatus:
              description: Order Status
              example: approved
              default: approved
              required: false
              displayName: orderStatus
              enum:
              - placed
              - approved
              - delivered
            complete:
              type: boolean
              example: 'true'
              required: false
              displayName: complete
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              schema: |
                {
                  "id": "Order",
                  "title": "Order",
                  "example": {
                    "id": 10,
                    "petId": 198772,
                    "quantity": 7,
                    "shipDate": "2023-05-31T00:00:00Z",
                    "orderStatus": "approved",
                    "complete": true
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "example": 10,
                      "type": "integer",
                      "format": "int64"
                    },
                    "petId": {
                      "example": 198772,
                      "type": "integer",
                      "format": "int64"
                    },
                    "quantity": {
                      "example": 7,
                      "type": "integer",
                      "format": "int32"
                    },
                    "shipDate": {
                      "example": "2023-05-31T00:00:00Z",
                      "type": "string",
                      "format": "date-time"
                    },
                    "orderStatus": {
                      "title": "OrderStatus",
                      "description": "Order Status",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "placed",
                        "approved",
                        "delivered"
                      ]
                    },
                    "complete": {
                      "example": true,
                      "type": "boolean"
                    }
                  }
                }
              example: '{"id":10,"petId":198772,"quantity":7,"shipDate":"2023-05-31T00:00:00Z","orderStatus":"approved","complete":true}'
        '405':
          description: Invalid input
