#%RAML 1.0
title: APIMATIC
version: '1.0'
baseUri: http://examples.apimatic.io/apps/calculator
baseUriParameters: {}
protocols:
- HTTP
- HTTPS
documentation:
- title: APIMATIC
  content: Simple calculator API hosted on APIMATIC
securitySchemes:
  api_key:
    type: Pass Through
    describedBy:
      headers:
        api_key:
          required: true
          displayName: api_key
          type: string
securedBy: []
types:
  CouldNotCompute:
    displayName: CouldNotCompute
    description: Is thrown when invalid input is given such as div by zero
    type: object
    properties:
      ServerMessage:
        required: true
        displayName: ServerMessage
        description: Represents the server's exception message
        type: string
      ServerCode:
        required: true
        displayName: ServerCode
        description: Represents the server's error code
        type: integer
        format: int32
  Order:
    displayName: Order
    type: object
    properties:
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      petId:
        required: false
        example:
          value: 198772
        displayName: petId
        type: integer
        format: int64
      quantity:
        required: false
        example:
          value: 7
        displayName: quantity
        type: integer
        format: int32
      shipDate:
        required: false
        example:
          value: 2023-05-31T00:00:00Z
        displayName: shipDate
        type: datetime
      orderStatus:
        required: false
        default: approved
        displayName: orderStatus
        description: Order Status
        type: string
        enum:
        - placed
        - approved
        - delivered
      complete:
        required: false
        example:
          value: true
        displayName: complete
        type: boolean
  Customer:
    displayName: Customer
    type: object
    properties:
      id:
        required: false
        example:
          value: 100000
        displayName: id
        type: integer
        format: int64
      username:
        required: false
        example:
          value: fehguy
        displayName: username
        type: string
      address:
        required: false
        displayName: address
        type: array
        items:
          type: Address
  Address:
    displayName: Address
    type: object
    properties:
      street:
        required: false
        example:
          value: 437 Lytton
        displayName: street
        type: string
      city:
        required: false
        example:
          value: Palo Alto
        displayName: city
        type: string
      state:
        required: false
        example:
          value: CA
        displayName: state
        type: string
      zip:
        required: false
        example:
          value: '94301'
        displayName: zip
        type: string
  Category:
    displayName: Category
    type: object
    properties:
      id:
        required: false
        example:
          value: 1
        displayName: id
        type: integer
        format: int64
      name:
        required: false
        example:
          value: Dogs
        displayName: name
        type: string
  User:
    displayName: User
    type: object
    properties:
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      username:
        required: false
        example:
          value: theUser
        displayName: username
        type: string
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type: string
      lastName:
        required: false
        example:
          value: James
        displayName: lastName
        type: string
      email:
        required: false
        example:
          value: john@email.com
        displayName: email
        type: string
      password:
        required: false
        example:
          value: '12345'
        displayName: password
        type: string
      phone:
        required: false
        example:
          value: '12345'
        displayName: phone
        type: string
      userStatus:
        required: false
        example:
          value: 1
        displayName: userStatus
        description: User Status
        type: integer
        format: int32
  Tag:
    displayName: Tag
    type: object
    properties:
      id:
        required: false
        displayName: id
        type: integer
        format: int64
      name:
        required: false
        displayName: name
        type: string
  Pet:
    displayName: Pet
    type: object
    properties:
      name:
        required: true
        example:
          value: doggie
        displayName: name
        type: string
      photoUrls:
        required: true
        displayName: photoUrls
        type: array
        items:
          type: string
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      category:
        required: false
        displayName: category
        type: Category
      tags:
        required: false
        displayName: tags
        type: array
        items:
          type: Tag
      petStatus:
        required: false
        displayName: petStatus
        description: pet status in the store
        type: string
        enum:
        - available
        - pending
        - sold
  PetImage:
    displayName: PetImage
    type: object
    properties:
      code:
        required: false
        displayName: code
        type: integer
        format: int32
      type:
        required: false
        displayName: type
        type: string
      message:
        required: false
        displayName: message
        type: string
  PetByCategory:
    displayName: PetByCategory
    type: object
    properties:
      name:
        required: true
        displayName: name
        type: string
      photoUrls:
        required: true
        displayName: photoUrls
        type: array
        items:
          type: string
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      category:
        required: true
        displayName: category
        type: Category
      petStatus:
        required: false
        displayName: petStatus
        description: pet status in the store
        type: string
        enum:
        - available
        - pending
        - sold
  PetByTag:
    displayName: PetByTag
    type: object
    properties:
      name:
        required: true
        example:
          value: Fluffy
        displayName: name
        type: string
      photoUrls:
        required: true
        example:
          value:
          - https://example.com/photo1.jpg
          - https://example.com/photo2.jpg
        displayName: photoUrls
        type: array
        items:
          type: string
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      tags:
        required: true
        example:
          value:
          - id: 1
            name: tag1
          - id: 2
            name: tag2
        displayName: tags
        type: array
        items:
          type: Tag
      petStatus:
        required: false
        example:
          value: available
        displayName: petStatus
        description: pet status in the store
        type: string
        enum:
        - available
        - pending
        - sold
  PetRequest:
    displayName: PetRequest
    type: object
    properties:
      name:
        required: false
        example:
          value: Fluffy
        displayName: name
        type: string
      photoUrls:
        required: false
        example:
          value:
          - https://example.com/photo1.jpg
          - https://example.com/photo2.jpg
        displayName: photoUrls
        type: array
        items:
          type: string
      id:
        required: false
        example:
          value: 10
        displayName: id
        type: integer
        format: int64
      category:
        required: false
        displayName: category
        type: Category
      petStatus:
        required: false
        example:
          value: available
        displayName: petStatus
        description: pet status in the store
        type: string
        enum:
        - available
        - pending
        - sold
      tags:
        required: false
        example:
          value:
          - id: 1
            name: tag1
          - id: 2
            name: tag2
        displayName: tags
        type: array
        items:
          type: Tag
/{operation}:
  uriParameters:
    operation:
      required: true
      displayName: operation
      description: The operator to apply on the variables
      type: string
      enum:
      - SUM
      - SUBTRACT
      - MULTIPLY
      - DIVIDE
  get:
    displayName: Calculate
    description: Calculates the expression using the specified operation.
    securedBy: []
    queryParameters:
      x:
        required: true
        displayName: x
        description: The LHS value
        type: number
        format: double
      y:
        required: true
        displayName: y
        description: The RHS value
        type: number
        format: double
    responses:
      '200':
        description: ''
        body:
          text/plain:
            displayName: response200
            description: ''
            type: number
            format: double
      '412':
        description: Could not compute the requested calculation
        body:
          application/json:
            displayName: response412
            description: Is thrown when invalid input is given such as div by zero
            type: CouldNotCompute
/pet:
  put:
    displayName: updatePet
    description: Update an existing pet by Id
    body:
      application/json:
        examples:
          update-status:
            value:
              name: doggie
              photoUrls:
              - myphoto
              id: 10
              petStatus: sold
          update-tags:
            value:
              name: cat
              photoUrls:
              - myphoto1
              id: 10
              tags:
              - id: 1
                name: friendly
              - id: 2
                name: playful
          update-category:
            value:
              name: cat
              photoUrls:
              - myphoto1
              id: 10
              category:
                id: 1
                name: Persian Cat
        displayName: body
        description: Update an existent pet in the store
        type: Pet
    headers:
      Content-Type:
        required: true
        example:
          value: application/json
        displayName: Content-Type
        type: string
        enum:
        - application/json
    responses:
      '200':
        description: Successful operation
        body:
          application/json:
            example:
              value:
                name: Rex
                photoUrls:
                - https://example.com/photo1.jpg
                - https://example.com/photo2.jpg
                id: 123
                category:
                  id: 1
                  name: Cats
                tags:
                - id: 1
                  name: friendly
                - id: 2
                  name: playful
                petStatus: available
            displayName: response200
            description: ''
            type: Pet
      '400':
        description: Invalid ID supplied
        body: {}
      '404':
        description: Pet not found
        body: {}
      '405':
        description: Validation exception
        body: {}
  post:
    displayName: addPet
    description: Add a new pet to the store
    body:
      application/json:
        displayName: body
        description: Create a new pet in the store
        type: PetRequest
    headers:
      Content-Type:
        required: true
        displayName: Content-Type
        type: string
        enum:
        - application/json
    responses:
      '200':
        description: Successful operation
        body:
          application/json:
            example:
              value:
                name: Rex
                photoUrls:
                - https://example.com/photo1.jpg
                - https://example.com/photo2.jpg
                id: 123
                category:
                  id: 1
                  name: Dogs
                tags:
                - id: 1
                  name: friendly
                - id: 2
                  name: playful
                petStatus: available
            displayName: response200
            description: ''
            type: Pet
      '405':
        description: Invalid input
        body: {}
  /findByStatus:
    get:
      displayName: findPetsByStatus
      description: Multiple status values can be provided with comma separated strings
      queryParameters:
        status:
          required: false
          default: available
          example:
            value: available
          displayName: status
          description: Status values that need to be considered for filter
          type: string
          enum:
          - available
          - pending
          - sold
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                - id: 10
                  name: doggie
                  photoUrls:
                  - photoUrls5
                  - photoUrls6
                  category:
                    id: 232
                    name: name2
                  tags:
                  - id: 26
                    name: name0
                  petStatus: sold
                - id: 11
                  name: kitty
                  photoUrls:
                  - photoUrls7
                  - photoUrls8
                  category:
                    id: 233
                    name: name3
                  tags:
                  - id: 27
                    name: name1
                  petStatus: available
              displayName: response200
              description: ''
              type: array
              items:
                type: Pet
        '400':
          description: Invalid status value
          body: {}
  /findByTags:
    get:
      displayName: findPetsByTags
      description: Multiple tags can be provided with comma separated strings. Use tag1, tag2, tag3 for testing.
      queryParameters:
        tags:
          required: false
          displayName: tags
          description: Tags to filter by
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                - id: 10
                  name: doggie
                  photoUrls:
                  - photoUrls5
                  - photoUrls6
                  category:
                    id: 232
                    name: name2
                  tags:
                  - id: 26
                    name: name0
                  petStatus: sold
                - id: 11
                  name: kitty
                  photoUrls:
                  - photoUrls7
                  - photoUrls8
                  category:
                    id: 233
                    name: name3
                  tags:
                  - id: 27
                    name: name1
                  petStatus: available
              displayName: response200
              description: ''
              type: array
              items:
                type: Pet
        '400':
          description: Invalid tag value
          body: {}
  /{petId}:
    uriParameters:
      petId:
        required: true
        displayName: petId
        description: ID of pet to return
        type: integer
        format: int64
    get:
      displayName: getPetById
      description: Returns a single pet
      securedBy:
      - api_key
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                  name: Rex
                  photoUrls:
                  - https://example.com/photo1.jpg
                  - https://example.com/photo2.jpg
                  id: 123
                  category:
                    id: 1
                    name: Dogs
                  tags:
                  - id: 1
                    name: friendly
                  - id: 2
                    name: playful
                  petStatus: available
              displayName: response200
              description: ''
              type: Pet
        '400':
          description: Invalid ID supplied
          body: {}
        '404':
          description: Pet not found
          body: {}
    post:
      displayName: updatePetWithForm
      description: ''
      queryParameters:
        name:
          required: false
          displayName: name
          description: Name of pet that needs to be updated
          type: string
        status:
          required: false
          displayName: status
          description: Status of pet that needs to be updated
          type: string
      responses:
        '405':
          description: Invalid input
          body: {}
    delete:
      displayName: deletePet
      description: delete a pet
      headers:
        api_key:
          required: false
          displayName: api_key
          type: string
      responses:
        '400':
          description: Invalid pet value
          body: {}
    /uploadImage:
      post:
        displayName: uploadFile
        description: ''
        body:
          multipart/form-data:
            type: object
            properties:
              body:
                required: false
                displayName: body
                type: file
        queryParameters:
          additionalMetadata:
            required: false
            displayName: additionalMetadata
            description: Additional Metadata
            type: string
        headers:
          Content-Type:
            required: true
            displayName: Content-Type
            type: string
            enum:
            - application/octet-stream
        responses:
          '200':
            description: successful operation
            body:
              application/json:
                example:
                  value:
                    code: 200
                    type: unknown
                    message: additionalMetadata
                displayName: response200
                description: ''
                type: PetImage
/user:
  post:
    displayName: createUser
    description: This can only be done by the logged in user.
    body:
      multipart/form-data:
        type: object
        properties:
          id:
            required: false
            example:
              value: 10
            displayName: id
            type: integer
            format: int64
          username:
            required: false
            example:
              value: theUser
            displayName: username
            type: string
          firstName:
            required: false
            example:
              value: John
            displayName: firstName
            type: string
          lastName:
            required: false
            example:
              value: James
            displayName: lastName
            type: string
          email:
            required: false
            example:
              value: john@email.com
            displayName: email
            type: string
          password:
            required: false
            example:
              value: '12345'
            displayName: password
            type: string
          phone:
            required: false
            example:
              value: '12345'
            displayName: phone
            type: string
          userStatus:
            required: false
            example:
              value: 1
            displayName: userStatus
            description: User Status
            type: integer
            format: int32
    headers:
      Content-Type:
        required: true
        displayName: Content-Type
        type: string
        enum:
        - application/x-www-form-urlencoded
    responses:
      '200':
        description: successful operation
        body:
          application/json:
            example:
              value:
                id: 10
                username: theUser
                firstName: John
                lastName: James
                email: john@email.com
                password: '12345'
                phone: '12345'
                userStatus: 1
            displayName: response200
            description: ''
            type: User
  /createWithList:
    post:
      displayName: createUsersWithListInput
      description: Creates list of users with given input array
      body:
        application/json:
          displayName: body
          type: array
          items:
            type: User
      headers:
        Content-Type:
          required: true
          example:
            value: application/json
          displayName: Content-Type
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Successful operation
          body:
            application/json:
              example:
                value:
                  id: 10
                  username: theUser
                  firstName: John
                  lastName: James
                  email: john@email.com
                  password: '12345'
                  phone: '12345'
                  userStatus: 1
              displayName: response200
              description: ''
              type: User
  /login:
    get:
      displayName: loginUser
      description: ''
      queryParameters:
        username:
          required: false
          displayName: username
          description: The user name for login
          type: string
        password:
          required: false
          displayName: password
          description: The password for login in clear text
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              displayName: X-Rate-Limit
              description: calls per hour allowed by the user
              type: integer
              format: int32
            X-Expires-After:
              displayName: X-Expires-After
              description: date in UTC when token expires
              type: datetime
          body:
            application/json:
              example:
                value: 'logged in user session: 1234567890'
              displayName: response200
              description: ''
              type: string
        '400':
          description: Invalid username/password supplied
          body: {}
  /logout:
    get:
      displayName: logoutUser
      description: ''
      responses:
        '200':
          description: successful operation
          body: {}
  /{name}:
    uriParameters:
      name:
        required: true
        displayName: name
        description: The name that needs to be fetched. Use user1 for testing.
        type: string
    get:
      displayName: getUserByName
      description: ''
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                  id: 10
                  username: theUser
                  firstName: John
                  lastName: James
                  email: john@email.com
                  password: '12345'
                  phone: '12345'
                  userStatus: 1
              displayName: response200
              description: ''
              type: User
        '400':
          description: Invalid username supplied
          body: {}
        '404':
          description: User not found
          body: {}
    put:
      displayName: updateUser
      description: This can only be done by the logged in user.
      body:
        multipart/form-data:
          type: object
          properties:
            id:
              required: false
              example:
                value: 10
              displayName: id
              type: integer
              format: int64
            username:
              required: false
              example:
                value: theUser
              displayName: username
              type: string
            firstName:
              required: false
              example:
                value: John
              displayName: firstName
              type: string
            lastName:
              required: false
              example:
                value: James
              displayName: lastName
              type: string
            email:
              required: false
              example:
                value: john@email.com
              displayName: email
              type: string
            password:
              required: false
              example:
                value: '12345'
              displayName: password
              type: string
            phone:
              required: false
              example:
                value: '12345'
              displayName: phone
              type: string
            userStatus:
              required: false
              example:
                value: 1
              displayName: userStatus
              description: User Status
              type: integer
              format: int32
      headers:
        Content-Type:
          required: true
          displayName: Content-Type
          type: string
          enum:
          - application/x-www-form-urlencoded
      responses:
        '200':
          description: successful operation
          body: {}
    delete:
      displayName: deleteUser
      description: This can only be done by the logged in user.
      responses:
        '400':
          description: Invalid username supplied
          body: {}
        '404':
          description: User not found
          body: {}
/store:
  /inventory:
    get:
      displayName: getInventory
      description: Returns a map of status codes to quantities
      securedBy:
      - api_key
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                  ordered: -1701012768
                  approved: -1539485046
                  placed: -2147313865
                  test: -262249829
                  pending: -1403561788
                  available: 1386631487
                  invalid: 2
                  deliver: -1019515409
                  delivered: 355966565
              displayName: response200
              description: ''
              type: object
              additionalProperties: true
              properties:
                //:
                  type: integer
  /order:
    post:
      displayName: placeOrder
      description: Place a new order in the store
      body:
        multipart/form-data:
          type: object
          properties:
            id:
              required: false
              example:
                value: 10
              displayName: id
              type: integer
              format: int64
            petId:
              required: false
              example:
                value: 198772
              displayName: petId
              type: integer
              format: int64
            quantity:
              required: false
              example:
                value: 7
              displayName: quantity
              type: integer
              format: int32
            shipDate:
              required: false
              example:
                value: 2023-05-31T00:00:00Z
              displayName: shipDate
              type: datetime
            orderStatus:
              required: false
              default: approved
              example:
                value: approved
              displayName: orderStatus
              description: Order Status
              type: string
              enum:
              - placed
              - approved
              - delivered
            complete:
              required: false
              example:
                value: true
              displayName: complete
              type: boolean
      headers:
        Content-Type:
          required: true
          example:
            value: application/x-www-form-urlencoded
          displayName: Content-Type
          type: string
          enum:
          - application/x-www-form-urlencoded
      responses:
        '200':
          description: successful operation
          body:
            application/json:
              example:
                value:
                  id: 10
                  petId: 198772
                  quantity: 7
                  shipDate: 2023-05-31T00:00:00Z
                  orderStatus: approved
                  complete: true
              displayName: response200
              description: ''
              type: Order
        '405':
          description: Invalid input
          body: {}
    /{orderId}:
      uriParameters:
        orderId:
          required: true
          displayName: orderId
          description: ID of order that needs to be fetched
          type: integer
          format: int64
      get:
        displayName: getOrderById
        description: For valid response try integer IDs with value <= 5 or > 10. Other values will generate exceptions.
        responses:
          '200':
            description: successful operation
            body:
              application/json:
                example:
                  value:
                    id: 10
                    petId: 198772
                    quantity: 7
                    shipDate: 2023-05-31T00:00:00Z
                    orderStatus: approved
                    complete: true
                displayName: response200
                description: ''
                type: Order
          '400':
            description: Invalid ID supplied
            body: {}
          '404':
            description: Order not found
            body: {}
      delete:
        displayName: deleteOrder
        description: For valid response try integer IDs with value < 1000. Anything above 1000 or nonintegers will generate API errors
        responses:
          '400':
            description: Invalid ID supplied
            body: {}
          '404':
            description: Order not found
            body: {}
